/*Style titre principal de la page */
h1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("../img/fondautres.jpg");
  background-size: cover;
  padding:20%;
  transition: opacity 1s linear;
  background-attachment: fixed;
  color:white;
  text-align: center;
  margin-top: 8%;
  text-transform: uppercase;
  font-family: "titre";
}

/*Style photos principal explicatives de la page */
.autrescatégories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


.autrescatégories img{
    width:80%;
    display: block;
    margin: auto;
}

.autrescatégories figcaption{
   color: white;
   text-align: center;
   padding-top: 5%;
   font-family: "paragraphetexte";
}

/*Style des bo populaires */
.bopopulaire {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2%;
 }

 .souspopulaire img{
    width:100%;
    height:auto;
    padding-top: 8%;
 }

.populairetexte h5 {
    color:black;
    text-transform: uppercase;
    text-align: center;
    font-family: "sous-titre";
    font-size: 110%;
}


.populairetexte h5::before {
    content: '🔥 ';
}

.populaireboautres {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: rgba(255, 253, 253, 0.9);
    padding-top: 2%;
    padding-bottom: 2%;
}

/*Style video et titre de mes 3 catégories */
.videofilm{
    
    height: 500px;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.videoseries{
    position: relative;
    height: 100%;
    width: 100%;
     
     
}
.video{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
     
}
.texteseries{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background-color: #dfdfdf;
    opacity: 0.3;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: screen;
}

/*Style des audios de bo */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
    font-family: "sous-titre";
}

td{
    font-family: "paragraphetexte";
}

tbody tr:hover {
    background-color: #ddd;
}

tbody tr:hover td{
     color:purple; 
}

tbody tr:hover td audio{

    background-color:purple; 
}

tbody td:first-child {
    color: #555;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    background-color: #000000;
}

tbody td{
    color:white;
}

/*Style des albums des catégories */
.album-section h2 {
    font-size: larger;
    margin-top: 5%;
    margin-bottom: 20px;
    color:white;
    font-family: "sous-titre";
}

.album-container {
    display: flex;
    gap: 5%;
}

.album {
    background-color: #111;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    width:15%;
}

.album:hover {
    background-color: #303030;
}

.album img {
    width: 85%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-bottom: 8px;
    border-radius: 10px 10px 10px 10px;
}

.album p {
    margin: 4px 0;
    color: #fff;
    font-family: "paragraphetexte";
}

.see-more {
    display: block;
    color: #fff;
    text-align: right;
    text-decoration: none;
    margin-top: 20px;
}

.see-more:hover {
    text-decoration: underline;
}

/*Style global de la page sous 600px */
@media(max-width: 600px) {

    h1 {
        font-size: medium;
    }

    .bopopulaire{
        grid-template-columns: 1fr 1fr;
        gap:1%;
        padding-bottom: 10%;
    }

    .bopopulaire img{
        width:50%;
    }

    .autrescatégories img{
        width:100%;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    th, td {
        display: block;
        color:black;
    }

    th {
        position: sticky;
        top: 0;
        background-color: black;
        color:white;
        font-size: small;
        border: solid 1px white;
    }

    tbody tr{
        border:1px solid white;
        font-size: small;
    }

    .album{
        width:20%;
    }
}
